@font-face {
	font-family: 'Poppins';
	font-display: swap;
	src: url("../fonts/Poppins-300.woff") format("woff"), url("../fonts/Poppins-300.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	font-display: swap;
	src: url("../fonts/Poppins-300.woff") format("woff"), url("../fonts/Poppins-300.woff2") format("woff2");
	font-weight: 300;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	font-display: swap;
	src: url("../fonts/Poppins-400.woff") format("woff"), url("../fonts/Poppins-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	font-display: swap;
	src: url("../fonts/Poppins-400.woff") format("woff"), url("../fonts/Poppins-400.woff2") format("woff2");
	font-weight: 400;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	font-display: swap;
	src: url("../fonts/Poppins-500.woff") format("woff"), url("../fonts/Poppins-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	font-display: swap;
	src: url("../fonts/Poppins-600.woff") format("woff"), url("../fonts/Poppins-600.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	font-display: swap;
	src: url("../fonts/Poppins-500.woff") format("woff"), url("../fonts/Poppins-500.woff2") format("woff2");
	font-weight: 500;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	font-display: swap;
	src: url("../fonts/Poppins-600.woff") format("woff"), url("../fonts/Poppins-600.woff2") format("woff2");
	font-weight: 600;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	font-display: swap;
	src: url("../fonts/Poppins-700.woff") format("woff"), url("../fonts/Poppins-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
@font-face {
	font-family: 'Poppins';
	font-display: swap;
	src: url("../fonts/Poppins-700.woff") format("woff"), url("../fonts/Poppins-700.woff2") format("woff2");
	font-weight: 700;
	font-style: normal;
}
