@import "fontawesome/fontawesome";

html,
body {
	height: 100%;
}

body {
	font-family: $font-family;
	font-weight: normal;
	font-size: 16px;
}

picture,
img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	object-position: center;
}

.wrapper {
	min-height: 100%;
	position: relative;
	display: flex;
	flex-direction: column;
}

.main {
	flex: 1 1 auto;
}

.tab__content {
	transition: all 0.8s ease-in-out;
}

.accordion-content {
	max-height: 0;
	overflow: hidden;
	transition: all 0.5s ease-in-out;

	&.active {
		max-height: 20rem;
		transition: all 0.5s ease-in-out;
	}
}

.lock {
	overflow: hidden !important;
}

.copy__link {
	cursor: pointer;
}
.input__password {
	position: relative;
	input {
		border: 1px solid #fff;
		width: 100%;
	}

	svg {
		position: absolute;
		right: 1rem;
		top: 50%;
		transform: translateY(-50%);
		cursor: pointer;
		height: 50%;
		width: auto;
		path,
		circle {
			stroke: #fff;
		}

		#hide {
			opacity: 1;
			transition: all 0.2s ease-in-out;
		}

		#show {
			opacity: 0;
			transition: all 0.2s ease-in-out;
		}
	}

	&.active {
		svg {
			#hide {
				opacity: 0;
				transition: all 0.2s ease-in-out;
			}

			#show {
				opacity: 1;
				transition: all 0.2s ease-in-out;
			}
		}
	}
}

#popupMessage {
	position: fixed;
	bottom: 5rem;
	margin: auto;
	left: 50%;
	transform: translateX(-50%);
	background-color: rgba(15, 15, 15, 0.8);
	color: var(--white, #fff);
	text-align: center;
	@include adaptiv-value("font-size", toPX(1.25), toPX(0.75), 1);
	font-style: normal;
	font-weight: 400;
	line-height: 130%;
	z-index: 150;
	opacity: 0;
	padding: 0.5rem 1.5rem;
	border-radius: 0.625rem;
	transition: all 0.5s ease-in-out;
}

@include media-width($md) {
	.accordion-content-mobile {
		max-height: 0;
		overflow: hidden;
		transition: all 0.5s ease-in-out;

		&.active {
			max-height: 20rem;
			transition: all 0.5s ease-in-out;
		}
	}
}

.container {
	max-width: $container-width;
	margin: 0 auto;
}

@include media-width(1700px) {
	.container {
		max-width: 1480px;
	}
}

@include media-width(1550px) {
	.container {
		max-width: 1320px;
	}
}

@include media-width(1420px) {
	.container {
		max-width: 1240px;
	}
}

@include media-width(1300px) {
	.container {
		max-width: 1200px;
	}
}

@include media-width(1200px) {
	.container {
		max-width: 1050px;
	}
}

@include media-width(1080px) {
	.container {
		max-width: 992px;
	}
}

@include media-width($md) {
	.container {
		max-width: 800px;
	}
}

@include media-width(850px) {
	.container {
		max-width: $sm;
	}
}

@include media-width($sm) {
	.container {
		max-width: none;
		padding: 0 15px;
	}
}

.desctop {
	display: flex;
}

.mobile {
	display: none;
}

@include media-width($md) {
	.desctop {
		display: none;
	}

	.mobile {
		display: flex;
	}
}

.breadcrumbs {
	display: flex;
	align-items: center;
	@include adaptiv-value("margin-top", toPX(119), toPX(10), 1);
	@include adaptiv-value("margin-bottom", toPX(19.6), toPX(33.9), 1);

	a {
		@include adaptiv-value("font-size", toPX(20), toPX(12), 1);
		padding-right: 2pt;

		&::after {
			content: "/";
			padding-left: 2pt;
		}

		&:last-child {
			&::after {
				display: none;
			}
		}
	}
}

.button {
	padding: 12px 0 12px 0;
	border: 1px solid $main-color;
	display: flex;
	align-items: center;
	justify-content: center;
	@include adaptiv-value("gap", 35, 10, 1);
	color: $main-color;
	font-size: 20px;
	border-radius: 9px;
	width: 100%;
	line-height: 27px;
	cursor: pointer;

	&.active {
		color: #fff;
		border: 1px solid $secondary-color;
		background-color: $secondary-color;
	}
}

input,
select {
	border: none;
	outline: none;
	background-color: transparent;
}
