// ! Media mixin sizes
// Різні девайси

$sizes: (
	"xs": 576px,
	"sm": 767px,
	"md": 992px,
	"lg": 1200px,
	"xl": 1400px
);

$xs: 576px;
$sm: 767px;
$md: 992px;
$lg: 1200px;
$xl: 1400px;

// Типографіка
$font-family: "Poppins", sans-serif;
$font-size: 16px;
$line-height: 1.5;
$color: #222222;

// Кольори
$main-color: #3f7180;
$primary-color: #a1d6e2;
$secondary-color: #ff9134;
$white_color: #f1f9fb;
$black_color: #222222;

// Розміщення блоків
$container-width: 1640px;
$maxWidth: 1920;
$maxWidthContainer: 1640;
// Анімація
$transition-duration: 0.2s;
$hover-transition: all $transition-duration ease-in-out;

$breakpoints: (
	small: 320px,
	medium: 768px,
	large: 1024px,
	xlarge: 1366px
);

$base-font-size: 16px;
$ems: 1em;
$rems: 1rem;
