.contacts {
	@include adaptiv-value("margin-top", toPX(115), toPX(33), 1);
	@include adaptiv-value("margin-bottom", toPX(130), toPX(75), 1);
	&__wrapper {
		@include adaptiv-value("padding-left", toPX(253), toPX(0), 1);
		@include adaptiv-value("padding-right", toPX(253), toPX(0), 1);
	}

	&__inner {
		border-radius: 25px;
		background-color: #a1d7e2;
		position: relative;
		z-index: 1;
		@include adaptiv-value("padding-top", toPX(88), toPX(29), 1);
		@include adaptiv-value("padding-bottom", toPX(88), toPX(48), 1);
		overflow: hidden;

		&::after {
			content: "";
			display: block;
			@include adaptiv-value("width", toPX(766), toPX(452), 1);
			@include adaptiv-value("height", toPX(390), toPX(230), 1);
			background-image: url("../img/types-bg.png");
			background-repeat: no-repeat;
			background-size: cover;
			position: absolute;
			bottom: 50%;
			left: 50%;
			transform: translateY(50%) translateX(-50%);
			// left: 280px;
			opacity: 0.5;
			z-index: -1;
		}
	}

	&__title {
		@include adaptiv-value("font-size", toPX(40), toPX(30), 1);
		font-weight: normal;
		font-style: normal;
		text-align: left;
		color: #222222;
		@include adaptiv-value("max-width", toPX(766), toPX(766), 1);
		@include adaptiv-value("padding-left", toPX(64), toPX(44), 1);
		@include adaptiv-value("padding-right", toPX(64), toPX(44), 1);
		margin: 0 auto;
	}

	&__desc {
		font-size: 20px;
		font-weight: normal;
		font-style: normal;
		text-align: left;
		color: #222222;
		@include adaptiv-value("max-width", toPX(766), toPX(766), 1);
		@include adaptiv-value("padding-left", toPX(64), toPX(10), 1);
		@include adaptiv-value("padding-right", toPX(64), toPX(10), 1);
		margin: 0 auto;
		@include adaptiv-value("margin-top", toPX(9), toPX(24), 1);
		@include adaptiv-value("margin-bottom", toPX(28), toPX(77), 1);

		span {
			color: $secondary-color;
		}
	}

	&__form {
		@include adaptiv-value("max-width", toPX(766), toPX(766), 1);
		@include adaptiv-value("padding-left", toPX(64), toPX(10), 1);
		@include adaptiv-value("padding-right", toPX(64), toPX(10), 1);
		margin: 0 auto;
	}

	&__label {
		font-size: 20px;
		font-weight: normal;
		font-style: normal;
		text-align: center;
		color: #222222;
	}

	&__input {
		max-width: 415px;
		margin: 0 auto;
		@include adaptiv-value("margin-top", toPX(9), toPX(9), 1);

		input {
			width: 100%;
			background-color: #fff;
			border-radius: 15px;
			font-size: 24px;
			font-weight: normal;
			font-style: normal;
			text-align: center;
			color: #222222;
			padding: 13px 0;

			&::placeholder {
				font-size: 24px;
				font-weight: normal;
				font-style: normal;
				text-align: center;
				color: rgba(33, 33, 33, 0.5);
			}
		}
	}

	&__button {
		font-family: $font-family;
		font-size: 20px;
		font-weight: normal;
		font-style: normal;
		text-align: left;
		color: #ffffff;
		padding: 12px 0 12px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 3px;
		border-radius: 9px;
		width: 100%;
		line-height: 27px;
		cursor: pointer;
		max-width: 275px;
		margin: 0 auto;
		@include adaptiv-value("margin-top", toPX(40), toPX(14), 1);
		color: #fff;
		border: 1px solid $secondary-color;
		background-color: $secondary-color;
	}
}

@include media-width($md) {
	.contacts {
		&__button {
			max-width: 100%;
		}
	}
}
