.derail {
	&__icons {
		display: flex;
		align-items: center;
		gap: 20px;
		@include adaptiv-value("margin-bottom", toPX(87), toPX(10), 1);
	}
}
.detail {
	&__icon {
		display: flex;
		flex-direction: column;
		gap: 29px;
		align-items: center;
		padding: 50px 38px;
		border: 1px solid #3f7180;
		border-radius: 10px;
		width: 100%;
		i {
			color: #3f7180;
			font-size: 36px;
			font-weight: 300;
			padding: 13px 11px;
			border: 1px solid #3f7180;
			border-radius: 10px;
		}

		span {
			text-align: center;
			font-size: 20px;
			color: #3f7180;
		}
	}
}

.detail {
	position: relative;
	background: #fff;
	z-index: 2;
	@include adaptiv-value("padding-bottom", toPX(70), toPX(30), 1);
	@include adaptiv-value("padding-top", toPX(30), toPX(10), 1);
	@include adaptiv-value("border-radius", toPX(25), toPX(10), 1);

	&__description {
	}

	&__desc-title {
		font-weight: 600;
		@include adaptiv-value("font-size", toPX(40), toPX(30), 1);
	}

	&__desc-wrapper {
		display: flex;
		flex-direction: column;
		@include adaptiv-value("margin-top", toPX(45), toPX(26), 1);
	}

	&__desc-item {
		display: grid;
		grid-template-columns: 1fr 3fr;
		align-items: center;
		justify-content: center;
		@include adaptiv-value("gap", toPX(250), toPX(20), 1);
		padding: 0 20px;

		p {
			font-weight: 600;
			color: #222;
			font-size: 20px;
		}

		&:nth-child(2n + 1) {
			background-color: #ebf0f2;
			min-height: 52px;
		}
		&:nth-child(2n) {
			min-height: 64px;
		}

		span {
			font-weight: 400;
			color: #222;
			font-size: 20px;

			a {
				color: #ff9134;
				text-decoration: underline;
			}
			i {
				color: #ff9134;
				font-size: 15px;
			}
		}
	}
}

.detail {
	&__hilfe {
	}

	&__button {
		i {
			opacity: 0;
		}

		&:hover,
		&.active {
			i {
				opacity: 1;
			}
		}
	}
}

.detail {
	&__wrapper {
		display: grid;
		grid-template-columns: 3fr 2fr 1.5fr;
		@include adaptiv-value("padding-bottom", toPX(88), toPX(44), 1);

		padding: auto;
	}

	&__images {
		position: relative;
		@include adaptiv-value("padding-right", toPX(130), toPX(0), 1);
		.new__image {
			margin-left: -40px;
		}
		display: flex;
		flex-direction: column;
		@include adaptiv-value("gap", toPX(60), toPX(20), 1);

		.new__label {
			top: 40px;
			right: 100px;
		}
	}

	&__content {
	}

	&__text {
		font-size: 20px;
		font-weight: 400;
		@include adaptiv-value("margin-bottom", toPX(24), toPX(20), 1);

		&.bundle {
			@include adaptiv-value("margin-bottom", toPX(30), toPX(30), 1);
			@include adaptiv-value("margin-top", toPX(30), toPX(30), 1);
		}
	}

	&__label-bold {
		font-weight: 600;
		font-size: 20px;
		@include adaptiv-value("margin-bottom", toPX(15), toPX(15), 1);
	}

	&__prices {
		@include adaptiv-value("margin-bottom", toPX(18), toPX(18), 1);
		display: flex;
		align-items: center;
		gap: 8px;
		p {
			@include adaptiv-value("font-size", toPX(40), toPX(30), 1);
			font-weight: 600;
			color: #ff9234;
		}

		span {
			font-weight: 400;
			font-size: 20px;
		}

		&.bundle__p {
			justify-content: flex-start;
			max-width: 400px;
			align-items: center;
			text-align: left;
			gap: 20px;

			.prod__price {
				margin-bottom: 0;
				align-items: flex-start;
				margin-left: 60px;
			}
			p {
				display: block;
			}
			span {
				font-weight: 600;
			}
		}
	}

	&__count {
		display: inline-flex;
		align-items: center;
		justify-content: flex-start;
		width: auto;
		font-weight: 600;
		font-size: 27px;
		gap: 20px;
		background-color: #f4f4f4;
		padding: 9px 11px;
		border-radius: 25px;
		@include adaptiv-value("margin-bottom", toPX(15), toPX(15), 1);

		i {
			color: #222;
			transition: $hover-transition;
			&:hover {
				color: #a1d8e2;
				transition: $hover-transition;
			}
		}
	}

	&__label-reg {
		font-weight: 400;
		font-size: 20px;
		display: flex;
		align-items: center;
		gap: 25px;
	}

	&__colors {
		display: flex;
		align-items: center;
		margin-top: 32px;
		i {
			padding: 8px;
			border-radius: 10px;
			border: 1px solid #222;
			margin-right: 22px;
		}

		input {
			display: none;
		}

		label {
			border: 1px solid transparent;
			padding: 5px;
			margin-right: 10px;
			transition: $hover-transition;
			span {
				display: block;
				width: 34px;
				height: 34px;
				border-radius: 50%;
				border: 1px solid #222;
				transition: $hover-transition;
			}
			cursor: pointer;
		}

		label:hover {
			border: 1px solid #222;
			border-radius: 50%;
		}

		input[type="radio"]:checked + label {
			border: 1px solid #222;
			border-radius: 50%;
		}
	}

	&__rate {
		display: flex;
		align-items: center;
		gap: 7px;
		padding: 37px 0;

		p {
			font-weight: 600;
			@include adaptiv-value("font-size", toPX(26), toPX(20), 1);
		}

		a {
			text-decoration: underline;
			color: #222;
			font-weight: 400;
			@include adaptiv-value("font-size", toPX(20), toPX(20), 1);
		}
	}

	&__stars {
		margin-right: 13px;
		display: flex;
		align-items: center;
		color: #fdbf23;
		fill: #fdbf23;
		font-size: 24px;
	}

	.new__buttons {
		margin-top: 22px;
	}

	&__hilfe {
		display: flex;
		flex-direction: column;
		gap: 17px;
		background-color: #f1f9fb;
		box-shadow: 0 3px 6px 0 rgba($color: #000000, $alpha: 0.16);
		@include adaptiv-value("border-radius", toPX(25), toPX(10), 1);
		padding: 20px 33px;
		align-self: center;

		&-title {
			font-weight: 500;
			color: #222;
			@include adaptiv-value("font-size", toPX(24), toPX(20), 1);
			text-align: center;
		}
	}

	&__photo {
		display: flex;
		align-items: center;
		gap: 16px;

		img {
			border: 1px solid #222;
			padding: 20px;
			max-width: 120px;
			min-height: 120px;
			object-fit: contain;
			border-radius: 10px;
		}
	}
}

.detail {
	&__inner {
		display: grid;
		grid-template-columns: repeat(5, 1fr);
		height: 100%;
	}
	&__best-header {
		font-weight: 600;
		font-size: 24px;
		@include adaptiv-value("margin-bottom", toPX(60), toPX(40), 1);
	}

	&__best-item {
		max-width: 275px;
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: space-between;
		height: 100%;
		gap: 10px;

		img {
			object-fit: contain;
		}

		p {
			font-weight: 600;
			font-size: 24px;
			text-align: center;
		}
	}

	&__button {
		color: #222;
		border-color: #222;
		i {
			opacity: 1;
		}
	}

	&__plus {
		font-weight: 600;
		font-size: 60px;
		color: #ff9234;
		align-self: center;
		justify-self: center;
	}
}

@include media-width($md) {
	.derail__icons {
		display: none;
	}

	.detail {
		&__photo {
			flex-wrap: wrap;
			gap: 5px;
			img {
				padding: 10px;
				min-height: 75px;
				max-width: 75px;
			}
		}
		&__wrapper {
			display: flex;
			flex-direction: column;
			gap: 20px;
		}

		&__inner {
			grid-template-columns: 1fr;
		}

		&__plus {
			@include adaptiv-value("margin-top", toPX(100), toPX(30), 1);
			@include adaptiv-value("margin-bottom", toPX(100), toPX(30), 1);
		}
	}
}
