.footer {
	&__main {
		background-color: #3f7180;
	}

	&__wrapper {
		display: grid;
		grid-template-columns: 2fr 1fr 2fr;
		@include adaptiv-value("padding-top", toPX(58), toPX(35), 1);
		@include adaptiv-value("padding-bottom", toPX(39), toPX(30), 1);
	}

	&__item {
		display: flex;
		justify-content: space-between;
		flex-direction: column;
		align-items: center;
	}

	&__logo {
		width: 100%;
		margin-left: 0;

		img {
			@include adaptiv-value("max-width", toPX(434), toPX(311), 1);
			width: 100%;
			height: auto;
		}
	}

	&__address {
		@include adaptiv-value("font-size", toPX(20), toPX(15), 1);
		font-weight: 300;
		font-style: normal;
		text-align: left;
		color: #ffffff;
		line-height: 130%;
		width: 100%;
		@include adaptiv-value("margin-top", toPX(40), toPX(45), 1);
		@include adaptiv-value("margin-bottom", toPX(70), toPX(45), 1);
	}

	&__copy {
		@include adaptiv-value("font-size", toPX(20), toPX(15), 1);
		font-weight: 300;
		font-style: normal;
		text-align: left;
		color: #ffffff;
		width: 100%;
	}

	&__label {
		@include adaptiv-value("max-width", toPX(137), toPX(117), 1);
	}

	&__up {
		svg text {
			font-size: 42px;
			text-align: center;
		}

		i {
			font-size: 42px;
			font-weight: 200;
		}
	}

	&__social {
		margin-left: 0;
		margin-right: auto;
	}

	&__title {
		@include adaptiv-value("font-size", toPX(31), toPX(18), 1);
		font-weight: normal;
		font-style: normal;
		text-align: center;
		color: #ffffff;
	}

	&__social-wrapper {
		display: flex;
		justify-content: space-between;
		align-items: center;
		@include adaptiv-value("margin-top", toPX(26), toPX(23), 1);

		svg {
			@include adaptiv-value("max-width", toPX(50), toPX(33), 1);
		}
	}

	&__nav {
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		justify-content: space-between;
		gap: 15px 100px;

		a {
			@include adaptiv-value("font-size", toPX(20), toPX(15), 1);
			font-weight: 300;
			font-style: normal;
			text-align: left;
			color: #ffffff;
		}
	}

	&__mobile {
		display: none;
	}
	&__desctop {
		display: flex;
	}
}

@include media-width($md) {
	.footer {
		&__mobile {
			display: flex;
		}
		&__social {
			margin-left: auto;
			margin-right: auto;
		}
		&__desctop {
			display: none;
		}
		&__wrapper {
			display: flex;
			flex-direction: column;
		}

		&__copy {
			text-align: center;
		}

		&__address {
			text-align: center;
		}

		&__last {
			flex-direction: column-reverse;
		}

		&__nav {
			grid-template-columns: 2fr 1fr;
			margin-bottom: 38px;
			gap: 18px 20px;
		}

		&__social-wrapper {
			margin-bottom: 42px;
		}

		&__label {
			margin-bottom: 44px;
		}

		&__logo {
			width: 100%;
			margin: 0 auto;
			display: flex;
			justify-content: center;
		}
	}
}
