.main {
	&__products {
		@include adaptiv-value("margin-top", 131.4, 39.1, 1);
	}
}
.products {
	&__header {
		@include adaptiv-value("font-size", 105, 44, 1);
		@include adaptiv-value("line-height", toPX(158), toPX(65), 1);
		line-height: 120%;
		font-weight: 600;
		@include adaptiv-value("margin-bottom", 86.7, 64, 1);
		text-wrap: balance;

		svg {
			//padding-top: 15px;
			@include adaptiv-value("max-width", 350, 150, 1);
			@include adaptiv-value("height", toPX(75), toPX(30), 1);
			display: inline-block;
		}
	}

	&__wrapper {
		display: grid;
		grid-template-columns: repeat(3, 1fr);
		gap: 69px;
	}

	&__item {
		box-sizing: border-box;
	}

	&__img {
		position: relative;
		border-radius: 22px;
		overflow: hidden;
		@include adaptiv-value("max-height", 450, 323, 1);
		max-height: 450px;
		height: 100%;

		&::after {
			content: "";
			display: flex;
			align-items: center;
			width: 100%;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			background-color: rgba($color: #000000, $alpha: 0.4);
		}
	}

	&__icon {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		display: flex;
		align-items: center;
		justify-content: center;
		z-index: 3;

		svg {
			@include adaptiv-value("font-size", 178, 126, 1);
			color: #fff;
			z-index: 2;
		}

		i {
			@include adaptiv-value("font-size", toPX(178), toPX(126), 1);
			font-weight: 200;
			color: #fff;
		}
	}

	&__title {
		@include adaptiv-value("margin-top", toPX(34), toPX(28), 1);
		@include adaptiv-value("font-size", 30, 21, 1);
		@include adaptiv-value("line-height", toPX(35), toPX(46), 1);
		color: $black_color;
		font-weight: 600;
		text-align: center;

		span {
			color: $secondary-color;
		}
	}

	&__desc {
		@include adaptiv-value("margin-bottom", toPX(37), toPX(24.6), 1);
		@include adaptiv-value("margin-top", toPX(40), toPX(16.5), 1);
		@include adaptiv-value("font-size", toPX(20), toPX(20), 1);
		@include adaptiv-value("line-height", toPX(30), toPX(30), 1);
		font-weight: 300;
	}

	&__button {
		padding: 14px 0;
		display: flex;
		align-items: center;
		justify-content: center;
		gap: 30px;
		background-color: $secondary-color;
		color: #fff;
		border-radius: 9px;
		max-width: 275px;
		margin: 0 auto;
	}

	&__nav {
		display: none;
	}
}
@include media-width($md) {
	.products {
		&__wrapper {
			gap: 0;
		}

		&__slider {
			//padding-bottom: 40px !important;
		}

		&__item {
			background-color: #fff;
			border-radius: 20px;
			padding: 0 12.1px 12.9px;
		}

		&__desc {
			padding: 0 15.4px;
		}

		&__title {
			padding: 0;
			line-height: 31px;
			margin-left: -8px;
			margin-right: -8px;
		}

		&__nav {
			display: flex;
			align-items: center;
			justify-content: center;
			margin-top: 47px;
		}

		&__next,
		&__prev {
			cursor: pointer;

			i {
				font-weight: 200;
				font-size: 37px;
			}
		}

		&__button {
			max-width: 100%;
			width: 100%;
		}

		&__paginations {
			position: relative;
			left: auto !important;
			right: auto !important;
			top: auto !important;
			bottom: auto !important;
			transform: none !important;
			display: flex;
			justify-content: center;
			//margin: 0 auto;
			max-width: 175px;

			.swiper-pagination-bullet {
				width: 11px !important;
				height: 11px !important;
				background-color: #707070;

				&-active {
					background-color: $black_color;
				}
			}
		}
	}
}
